# STEP 1: ACQUIRE 

### Acquire the requisite data

Data can come from multiple sources

1. **Flat files** - Data could be in text or csv files
2. **Excel files**
3. **Database** (Oracle, MySQL, etc)
4. **JSON**
5. **Hadoop**
6. **API**

### For our case study, all the data are in flat files - in csv format

#### We will be using `pandas` to read the csv

In [1]:
import pandas as pd

#### Read the daily prices of weed

In [2]:
weed_price_pd = pd.read_csv("../data/Weed_Price.csv")

#### Let's look at the columns of this dataset

In [3]:
weed_price_pd.columns

Index([u'State', u'HighQ', u'HighQN', u'MedQ', u'MedQN', u'LowQ', u'LowQN',
       u'date'],
      dtype='object')

In [4]:
weed_price_pd.head()

        State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN        date
0     Alabama  339.06    1042  198.64    933  149.49    123  2014-01-01
1      Alaska  288.75     252  260.60    297  388.58     26  2014-01-01
2     Arizona  303.31    1941  209.35   1625  189.45    222  2014-01-01
3    Arkansas  361.85     576  185.62    544  125.87    112  2014-01-01
4  California  248.78   12096  193.56  12812  192.92    778  2014-01-01

In [5]:
weed_price_pd.tail()

               State   HighQ  HighQN    MedQ  MedQN  LowQ  LowQN        date
22894       Virginia  364.98    3513  293.12   3079   NaN    284  2014-12-31
22895     Washington  233.05    3337  189.92   3562   NaN    160  2014-12-31
22896  West Virginia  359.35     551  224.03    545   NaN     60  2014-12-31
22897      Wisconsin  350.52    2244  272.71   2221   NaN    167  2014-12-31
22898        Wyoming  322.27     131  351.86    197   NaN     12  2014-12-31

In [6]:
weed_price_pd.dtypes

State      object
HighQ     float64
HighQN      int64
MedQ      float64
MedQN       int64
LowQ      float64
LowQN       int64
date       object
dtype: object

#### Question: What is the issue in the import?

#### Question: Read the population and demographic datasets

In [7]:
#Population dataset

In [8]:
#Demographic dataset