# 2. Refine the Data
 
> "Data is messy"

- **Missing** e.g. Check for missing or incomplete data
- **Quality** e.g. Check for duplicates, accuracy, unusual data
- **Parse** e.g. extract year and month from date
- **Merge** e.g. first and surname for full name
- **Convert** e.g. free text to coded value
- **Derive** e.g. gender from title
- **Summary** e.g. show summary stats like mean
- **Calculate** e.g. percentages, proportion
- **Remove** e.g. remove redundant data
- **Aggregate** e.g. rollup by year, cluster by area
- **Filter** e.g. exclude based on location
- **Sample** e.g. extract a representative data

In [1]:
# Load the libraries
import numpy as np
import pandas as pd

In [2]:
# Load the data again!
df = pd.read_csv("data/Weed_Price.csv", parse_dates=[-1])

## 2.1 Missing Data

By “missing” data we simply mean null or “not present for whatever reason”. Lets see if we can find the missing data in our data set either because it exists and was not collected or it never existed

In [3]:
# Lets start the count to seeing about missing data
df.count()

State     22899
HighQ     22899
HighQN    22899
MedQ      22899
MedQN     22899
LowQ      12342
LowQN     22899
date      22899
dtype: int64

In [14]:
df['LowQ'].isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
22869     True
22870     True
22871     True
22872     True
22873     True
22874     True
22875     True
22876     True
22877     True
22878     True
22879     True
22880     True
22881     True
22882     True
22883     True
22884     True
22885     True
22886     True
22887     True
22888     True
22889     True
22890     True
22891     True
22892     True
22893     True
22894     True
22895     True
22896     True
22897     True
22898     True
Name: LowQ, dtype: bool

In [15]:
# We can see the bottom rows which have NaN values
df.tail()

               State   HighQ  HighQN    MedQ  MedQN  LowQ  LowQN       date
22894       Virginia  364.98    3513  293.12   3079   NaN    284 2014-12-31
22895     Washington  233.05    3337  189.92   3562   NaN    160 2014-12-31
22896  West Virginia  359.35     551  224.03    545   NaN     60 2014-12-31
22897      Wisconsin  350.52    2244  272.71   2221   NaN    167 2014-12-31
22898        Wyoming  322.27     131  351.86    197   NaN     12 2014-12-31

**Pandas will represent missing value by NaN**

What can we do this with missing value?
- Drop these rows / columsn? Use .dropna(how='any')
- Fill with a dummy value? Use .fillna(value=dummy)
- Impute the cell with the most recent value? Use .fillna(method='ffill')
- Interpolate the amount in a linear fashion? Use .interpolate()

In [22]:
# Lets sort this data frame by State and Date
df1 = df.sort(columns=['State','date'])

In [23]:
# Lets fill the missing value with last available value
df2 = df1.fillna(method = "ffill")

In [24]:
df2.count()

State     22899
HighQ     22899
HighQN    22899
MedQ      22899
MedQN     22899
LowQ      22899
LowQN     22899
date      22899
dtype: int64

In [35]:
# Copying back to the df
df = df2
df.count()

State     22899
HighQ     22899
HighQN    22899
MedQ      22899
MedQN     22899
LowQ      22899
LowQN     22899
date      22899
dtype: int64

## 2.2 Quality of the Data 

Lets check for completeness.

**Say, do we have data on each date for all the 51 states?**

In [36]:
df["State"].value_counts()

Utah                    449
Washington              449
Massachusetts           449
Missouri                449
Connecticut             449
Vermont                 449
Pennsylvania            449
Georgia                 449
California              449
North Carolina          449
Florida                 449
Oregon                  449
Alabama                 449
Indiana                 449
Kentucky                449
Hawaii                  449
South Carolina          449
Virginia                449
Oklahoma                449
Texas                   449
Illinois                449
Nebraska                449
Ohio                    449
Arizona                 449
Rhode Island            449
Louisiana               449
Wisconsin               449
New York                449
Arkansas                449
Montana                 449
New Hampshire           449
North Dakota            449
New Mexico              449
Delaware                449
Iowa                    449
New Jersey              449
Kansas                  449
Idaho                   449
Colorado                449
Maryland                449
District of Columbia    449
Michigan                449
South Dakota            449
West Virginia           449
Minnesota               449
Wyoming                 449
Mississippi             449
Tennessee               449
Nevada                  449
Maine                   449
Alaska                  449
dtype: int64

**Lets check the dates and see if they are all continuous**

## 2.3  Parse the Data

Lets see if we can get the year, month, week and weekdays from the date. Pandas has got good built in functionality for timeseries data using the DatetimeIndex method

In [55]:
df['year'] = pd.DatetimeIndex(df['date']).year
df['month'] = pd.DatetimeIndex(df['date']).month
df['week'] = pd.DatetimeIndex(df['date']).week
df['weekday'] = pd.DatetimeIndex(df['date']).weekday

In [56]:
df.dtypes

State              object
HighQ             float64
HighQN              int64
MedQ              float64
MedQN               int64
LowQ              float64
LowQN               int64
date       datetime64[ns]
year                int32
month               int32
weekday             int32
week                int32
dtype: object

In [61]:
df.tail()

,State,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,date,year,month,weekday,week
4997,Wyoming,313.72,148,317.38,226,161.3,13,2015-06-07,2015,6,6,23
5762,Wyoming,313.72,148,317.38,226,161.3,13,2015-06-08,2015,6,0,24
6527,Wyoming,313.72,148,317.38,226,161.3,13,2015-06-09,2015,6,1,24
7343,Wyoming,313.72,148,317.38,226,161.3,13,2015-06-10,2015,6,2,24
8159,Wyoming,313.72,148,317.38,226,161.3,13,2015-06-11,2015,6,3,24

In [57]:
df['year'].value_counts()

2014    18564
2015     4080
2013      255
dtype: int64

In [58]:
df['month'].value_counts()

1     3162
5     2703
2     2244
6     2091
12    1836
10    1581
7     1581
3     1581
11    1530
9     1530
8     1530
4     1530
dtype: int64

In [54]:
df["weekday"].value_counts()

6    3315
0    3315
4    3264
3    3264
2    3264
1    3264
5    3213
dtype: int64

## 2.4 Merge the Data

## 2.5 Summarise the Data

In [62]:
df.describe()

,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,year,month,weekday,week
count,22899.000000,22899.000000,22899.000000,22899.000000,22899.000000,22899.000000,22899.000000,22899.000000,22899.000000,22899.000000
mean,329.759854,2274.743657,247.618306,2183.737805,203.624092,202.804489,2014.167038,5.953229,2.995546,23.812918
std,41.173167,2641.936586,44.276015,2789.902626,101.484265,220.531987,0.401765,3.553055,2.005599,15.426018
min,202.020000,93.000000,144.850000,134.000000,63.700000,11.000000,2013.000000,1.000000,0.000000,1.000000
25%,303.780000,597.000000,215.775000,548.000000,145.810000,51.000000,2014.000000,3.000000,1.000000,9.000000
50%,342.310000,1420.000000,245.800000,1320.000000,185.780000,139.000000,2014.000000,6.000000,3.000000,22.000000
75%,356.550000,2958.000000,274.155000,2673.000000,222.940000,263.000000,2014.000000,9.000000,5.000000,37.000000
max,415.700000,18492.000000,379.000000,22027.000000,734.650000,1287.000000,2015.000000,12.000000,6.000000,52.000000

## 2.6 Filter the Data

Lets start by filtering the data 
- by location